.carousel-item {
  height: 420px;
  background-color: #1a1a1a;
}

.carousel-img {
  height: 423px;
  object-fit: contain; 
  padding: 20px;
}

.card-img-top {
  height: 180px;
  object-fit: contain;
  background-color: #fdfdfd;
  padding: 15px;
}

@media (max-width: 767.98px) {
  .carousel-item, .carousel-img {
    height: 240px;
  }
  .card-img-top {
    height: 130px;
  }
}